<ul class="pagination pagination-sm no-margin pull-right">
    <li><a class="first">首页</a></li>
	<li><a class="pre">上一页</a></li>
	<li><a class="next">下一页</a></li>
	<li><a class="last">尾页</a></li>
	<li><a class="rowCount">总记录数(0)</a></li>
	<li><a class="pageCount">总页数(0)</a></li>
	<li><a class="pageCurrent">当前页(1)</a></li>
</ul>
<script type="text/javascript">
  //文档就绪事件
  $(function(){
	  //在pageId对象上注册click事件
	  //当点击pageId对象内部的first,pre等元素时,
	  //执行doJumpToPage事件处理函数.
	  $(".pagination").on("click",".first,.pre,.next,.last",doJumpToPage)
  });

  //基于单击事件修改当前页码值，然后重新执行查询操作
  function doJumpToPage(){
	  //1.$(this)获取点击对象，prop函数获取点击对象的class属性值
	  //prop函数为jquery中获取【对象属性值的一个函数
	  //prop函数语法prop(属性名,[属性值])
	  var cls=$(this).prop("class");
	  //验证浏览器能否获取到点击对象
	  //console.log("cls",cls);
	  //2.基于点击对象修改当前页码值
	  //2.1 获取当前页码值和总页数
	  var pageCurrent =  $("#pageId").data("pageCurrent");
	  var pageCount =  $("#pageId").data("pageCount");
	  if(cls=="first"&&pageCurrent!=1){//点击对象为首页，且当前页码不为1,将当前页码设为1
	  	pageCurrent=1;
	  }else if(cls=="pre"&&pageCurrent>1){//点击对象为上一页，且当前页码大于1，则当前页码减1
	  	pageCurrent--;
	  }else if(cls=="next"&&pageCurrent<pageCount){//点击对象为下一页，且当前页码小于总页数，则当前页码加1
		  pageCurrent++;
	  }else if(cls=="last"&&pageCurrent!=pageCount){//点击对象为尾页，且当前页码不为总页数，设当前页码等于总页数
		  pageCurrent=pageCount;
	  }else {
	  	return;
	  }
	  //2.3 基于新的页码值重新执行查询
	  //2.3.1 存储新的页码值
	  $("#pageId").data("pageCurrent",pageCurrent);
	  //2.3.2 重新执行查询
	  doGetObjects();
  }

  //初始化页面分页信息
  function doSetPagination(pageObject) {
	  //$(".xxx")基于css中类选择器获取html中的node（元素）对象
	  //html(内容)：向指定对象添加内容   html()：获取指定对象的内容
	  $(".rowCount").html("总记录数("+pageObject.rowCount+")");
	  $(".pageCount").html("总页数("+pageObject.pageCount+")");
	  $(".pageCurrent").html("当前页("+pageObject.pageCurrent+")");
	  //存储pageCount、pageCurrent的值，借助data函数实现，类似java中的map
	  //data函数为jquery的一个数据绑定元素，可以将数据绑定在调用data函数的对象上
	  //data(key,value)两个参数绑定：存数
	  //data(key)一个参数绑定：取数
	  $("#pageId").data("pageCurrent",pageObject.pageCurrent);
	  $("#pageId").data("pageCount",pageObject.pageCount);

  }





</script>